

<!DOCTYPE html>
<html>
 <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Todo List</title>
 </head>
 <body>
    <div class="container">
    <button id="night-mode-toggle">Toggle Night Mode</button>
      <h1 id="todo-header">TODO</h1>
      <ul class="todo-list">
        <% @todos.each_with_index do |todo, index| %>
          <li class="todo-entry">
            <span class="todo-text"><%= todo %></span>
            <form class="delete-todo-form" action="/delete_todo" method="post">
              <input type="hidden" name="index" value="<%= index %>">
              <button type="submit" class="delete-button">X</button>
            </form>
          </li>
        <% end %>
      </ul>
      <form class="add-todo-form" action="/add_todo" method="post">
        <input type="text" name="todo" placeholder="Enter a new todo">
        <button type="submit" id='button1'>Add Todo</button>
      </form>
      <form action="/clear_todo" method="post">
        <button type="submit" class="clear-button">Clear All Todos</button>
      </form>
      
    </div>
 </body>
</html> 
<script>
 document.getElementById('night-mode-toggle').addEventListener('click', function() {
   document.body.classList.toggle('night-mode');
 });
</script>

