@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#todo-header {
  text-align: center;
  color: rgb(255, 255, 255);
}

body {
  background-color: rgb(35, 35, 35);
}

.todo-entry {
  text-align: center;
  color: white;
}

ul li,
ol li {
  list-style-position: inside;
  text-align: center;
}